:root {
  --blue: #0290ff;
  --grayBg: #f5f6fa;
  --whiteCard: #fafafa;
}

/* Globals */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
  background-color: var(--grayBg);
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

main {
  width: 87.5rem;
  height: 68.563rem;
  margin: 0 2.5rem 4.063rem 0;
  padding: 0 0 49.625rem;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 var(--black-5);
  background-color: #fafafa;
  flex-direction: column;
}

/* Utilities */
.flex-column {
  flex-direction: column;
}

.d-flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* NavBar */
.top-section {
  width: 87.5rem;
  height: 5.938rem;
  margin: 0 0 2.375rem;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  background-color: #fff;
}

.top-section,
nav {
  justify-content: flex-start;
  align-items: center;
  column-gap: 50px;
}

* {
  color: black;
}

.logo {
  color: var(--blue);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.logo:visited {
  color: var(--blue);
}

nav > * {
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: var(--black-two);
}

.active {
  opacity: 1;
}
