:root {
  --black: #121212;
  --blue: #0290ff;
  --grayBg: #f5f6fa;
  --montserrat: 'Montserrat', sans-serif;
  --robotoSlab: 'Roboto Slab', serif;
  --whiteCard: #fafafa;

  /* Fonts */
}

/* Globals */
html {
  box-sizing: border-box;
}

* {
  color: var(--black);
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
  align-items: center;
  background-color: var(--grayBg);
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

main {
  background-color: #fafafa;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 var(--black-5);
  flex-direction: column;
  height: 68.563rem;
  margin: 0 2.5rem 4.063rem 0;
  padding: 0 0 49.625rem;
  width: 87.5rem;
}

/* Utilities */
.flex-column {
  flex-direction: column;
}

.d-flex {
  display: flex;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* NavBar */
.top-section {
  background-color: #fff;
  height: 5.938rem;
  margin: 0 0 2.375rem;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  width: 87.5rem;
}

.top-section,
nav {
  align-items: center;
  column-gap: 50px;
  justify-content: flex-start;
}

.logo {
  color: var(--blue);
  font-family: var(--montserrat);
  font-size: 1.875rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  letter-spacing: normal;
  line-height: normal;
}

.logo:visited {
  color: var(--blue);
}

nav > * {
  color: var(--black);
  font-family: var(--montserrat);
  font-size: 0.813rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1.9px;
  line-height: normal;
  opacity: 0.5;
}

.active {
  opacity: 1;
}

/* BookCard */
.book-card {
  background-color: #fff;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  height: 10.625rem;
  margin: 2.313rem 6.25rem 0;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  width: 75rem;
}

.category {
  color: var(--black);
  font-family: var(--montserrat);
  font-size: 0.875rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  height: 1.125rem;
  letter-spacing: normal;
  line-height: normal;
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  width: 3.063rem;
}

.book-title {
  color: var(--black);
  font-family: var(--robotoSlab);
  font-size: 1.375rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  height: 1.813rem;
  letter-spacing: -0.2px;
  line-height: normal;
  margin: 0.188rem 20.188rem 0 0;
  width: 12.313rem;
}

.book-author {
  color: #4386bf;
  font-family: var(--robotoSlab);
  font-size: 0.875rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  height: 1.188rem;
  letter-spacing: normal;
  line-height: normal;
  margin: 0.25rem 0 0;
  width: 6.688rem;
}

.options {
  color: #4386bf;
  font-family: var(--robotoSlab);
  font-size: 0.875rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  height: 1.188rem;
  letter-spacing: normal;
  line-height: normal;
  margin: 0.188rem 0.938rem 0.125rem 0;
  width: 4.563rem;
}
